{require_min_otp_vsn, "R16"}.

{erl_opts, [debug_info,{src_dirs, ["src", "test"]}, {parse_transform, lager_transform}]}.

{sub_dirs, ["rel"]}.

{deps_dir, ["lib"]}.

{lib_dirs, ["lib"]}.

{deps, [
	{lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
	{mochiweb, ".*", {git, "git@github.com:mochi/mochiweb.git", {branch, "master"}}}
]}.

