[{kernel,
	[{start_timer, true}, {start_pg2, true}]},
 {sasl, 
	[{sasl_error_logger, {file, "var/log/ertdb_sasl.log"}}]},
 {lager, [
	{error_logger_redirect, false},
	{crash_log, "var/log/ertdb_crash.log"},
	{handlers, [
		{lager_console_backend, info},
		{lager_file_backend, [
			{"var/log/ertdb_info.log", info, 20485760, "$D0", 5},
			{"var/log/ertdb_error.log", error, 20485760, "$D0", 5}
		]}
	]}
 ]},
 {ertdb,
	[{pool_size, 16},
    {journal, [{dir, "var/journal"}, {buffer, 100}]},
    {store, [{dir, "var/data"}, {buffer, 10}]},
    {socket, [{ip, "0.0.0.0"}, {port, 6320}]},
    {httpd, [{ip, "0.0.0.0"}, {port, 8080}]}]
 }
].
